/*::::::::::::::::::::::::::::::::::::::::::::::::
::												::
::				   STYLESHEET BY				::
::			PROYECTODW CREATIVO SA DE CV		::
::			     www.proyectodw.com				::
::												::
::::::::::::::::::::::::::::::::::::::::::::::::*/

body{
	background:url(../images/_template/bkg.png);
}

header{
	background:rgb(247,130,34);
	height:72px;
	position:relative;
	z-index:99;
}
#MainMenu{
	background:url(../images/botones/menu.png) no-repeat;
	width:43px;
	height:34px;
	cursor:pointer;
	position:absolute;
	top:15px;
	left:15px;
	text-indent:-9999px;
}
#Logo{
	background:url(../images/logos/CaribeMexicano.png) no-repeat;
	width:184px;
	height:89px;
	position:relative;
	margin:0 auto;
	text-indent:-9999px;
}
#Creditos{
	background:url(../images/botones/creditos.png) no-repeat;
	width:43px;
	height:34px;
	position:absolute;
	top:15px;
	right:15px;
	text-indent:-9999px;
}
.Banner{
	position:absolute;
	z-index:1;
	width:100%;
	height:400px;
	background-size:auto;
	background-position:top center;
	background-repeat:no-repeat;
	top:72px;
}
#Content{
	position:relative;
	top:400px;
	padding:15px 25px 82px 25px;
}
	#Content img{
		margin-bottom:25px;
	}
/* DESTINOS */

	#PuertoMorelos{
		background-image:url(../images/destinos/puerto-morelos/banner.jpg);
	}
		#PuertoMorelos .DestinoTitle{
			margin-top:50px;
			text-shadow:1px 1px 2px rgb(117,168,183);
		}
	#Cancun{
		background-image:url(../images/destinos/cancun/banner.jpg);
	}
		#Cancun .DestinoTitle{
			margin-top:50px;
		}
	#Cozumel{
		background-image:url(../images/destinos/cozumel/banner.jpg);
		background-position: 40% 100%;
	}
		#Cozumel .DestinoTitle{
			margin-top:165px;
			margin-left:5px;
		}
	#Holbox{
		background-image:url(../images/destinos/holbox/banner.jpg);
	}
		#Holbox .DestinoTitle{
			padding:15px;
			width:auto;
			margin:165px auto 0 auto;
			background:rgba(0,0,0,0.8);
		}
	#IslaMujeres{
		background-image:url(../images/destinos/isla-mujeres/banner.jpg);
	}
		#IslaMujeres .DestinoTitle{
			margin:15px 0 0 15px;
		}
	#PlayaCarmen{
		background-image:url(../images/destinos/playa-carmen/banner.jpg);
	}
		#PlayaCarmen .DestinoTitle{
			margin:15px 15px 0 0px;
		}
	#Tulum{
		background-image:url(../images/destinos/tulum/banner.jpg);
	}
		#Tulum .DestinoTitle{
			margin:50px 15px 0 0px;
		}
	#Bacalar{
		background-image:url(../images/destinos/bacalar/banner.jpg);
	}
		#Bacalar .DestinoTitle{
			margin:300px 0px 0 0px;
		}
	#Mahahual{
		background-image:url(../images/destinos/mahahual/banner.jpg);
	}
		#Mahahual .DestinoTitle{
			margin:20px 0px 0 0px;
		}
	#CarrilloPuerto{
		background-image:url(../images/destinos/carrillo-puerto/banner.jpg);
	}
		#CarrilloPuerto .DestinoTitle{
			margin:280px 0px 0 0px;
		}
		

/* FOOTER STYKES */

	footer{
		width:100%;
		position:fixed;
		z-index:100;
		bottom:0;
		left:0;
		height:20px;
		background:rgb(34,30,31);
		border-top:10px solid rgb(247,130,34);
		padding:15px 0;
	}
	.BtnFooter{
		width:25%;
		height:auto;	
	}
	#Share{
		float:left;
		width:30%;
		padding:0 5px;
	}
	#Map{
		float:left;
		padding:0 5px;
		width:30%;
	}
	#Gallery{
		float:left;
		width:30%;
		padding:0 5px;
	}
		